{% extends 'admin_base.html' %}
{% block main  %}


<div class="card shadow m-2">
    <div class="card-body">
        <h5 class="p-2 text-danger" style="border-bottom: 2px solid orange;">Edit Employee Profile</h5>
<div class="container-fluid">
<form method="POST" name = "signup" onsubmit="return checkpass();">
    {% csrf_token %}
    <div class="form-row">
        <div class="col-sm-6">
            <div class="form-group">
                <label>First Name</label>
                <input type="text" name="firstname" placeholder="Enter First Name"  class="form-control"  value="{{employee.user.first_name}}" pattern="[A-Za-z]+">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label>Last Name</label>
                <input type="text" name="lastname" placeholder="Enter Last Name"  class="form-control" value="{{employee.user.last_name}}" pattern="[A-Za-z]+">
            </div>
        </div>

        <div class="col-sm-12">
            <div class="form-group">
                <label>Employee Code</label>
                <input type="text" name="empcode" value="{{employee.empcode}}" placeholder="Employee Code" required class="form-control" pattern="[0-9]+">
            </div>
        </div>

        <div class="col-sm-6">
            <div class="form-group">
                <label>Employee Department</label>
                <input type="text" name="department" value="{{employee.empdept}}" placeholder="Department" required class="form-control">
            </div>
        </div>

         <div class="col-sm-6">
            <div class="form-group">
                <label>Employee Designation</label>
                <input type="text" name="designation" value="{{employee.designation}}" placeholder="Designation" class="form-control">
            </div>
        </div>


        <div class="col-sm-6">
            <div class="form-group">
                <label>Contact Number</label>
                <input type="text" name="contact" placeholder="Contact Number"  value="{{employee.contact}}" class="form-control">
            </div>
        </div>

        <div class="col-sm-6">
            <div class="form-group">
                <label>Email ID</label>
                <input type="email" name="emailid" value = "{{employee.user.username}}" placeholder="Email ID"  class="form-control" readonly>
            </div>
        </div>

         <div class="col-sm-6">
            <div class="form-group">
                <label>Employee Joining Date [{{employee.joiningdate}}]</label>
                <input type="date" name="jdate" class="form-control">
            </div>
        </div>

         <div class="col-sm-6">
            <div class="form-group">
                <label>Gender [{{employee.gender}}]</label>

                <select name="gender" class="form-control">
                    {% if employee.gender == 'None' %}
                <option value="None" selected>Select Gender</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                     {% endif %}

                     {% if employee.gender == 'Male' %}
                <option value="None">Select Gender</option>
                <option value="Male" selected>Male</option>
                <option value="Female">Female</option>
                     {% endif %}

                     {% if employee.gender == 'Female' %}
                <option value="None">Select Gender</option>
                <option value="Male">Male</option>
                <option value="Female" selected>Female</option>
                     {% endif %}
            </select>

            </div>
        </div>

    </div>
    <input type="submit" value="Submit" class="m-2 px-3 btn btn-primary">
</form>
</div>
</div>
</div>

{% ifequal error "no" %}
<script>
    alert('Employee profile has been updated.');
    window.location=("{% url 'edit_profile' employee.id %}");
</script>
{% endifequal %}
{% ifequal error "yes" %}
<script>
    alert('Something went wrong,Try Again...');
</script>
{% endifequal %}
{% endblock %}
